## .NET
bin/
obj/
*.user
*.suo
.vs/
.vscode/*
!.vscode/extensions.json

## Build results
[Dd]ebug/
[Rr]elease/
artifacts/

## Rider / VS
.idea/
*.DotSettings.user

## OS
.DS_Store
Thumbs.db

## Env / secrets
*.env
.env.local
